@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Play&display=swap');
@import 'base/variables';
@import 'base/mixins';

/* Default styles */

html {
	overflow:auto;	
}
body {
	overflow:visible;
	height: 100%;
	margin: 0;
	background-color: $white;
	color: $t_gray;
	font-weight: 400;
	font-family: $f_sans;
	font-size: 16px;
	line-height: 1.5;
}
html, body {
	max-width: 100%;
	overflow-x:hidden;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
button, button:active, button:focus {
	border: none;
	outline: none;
}
input:focus, textarea:focus {
	outline:0;
}
a, a:hover {
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
strong {
	font-weight: 700;
}
p {
	margin-bottom: 18px;
}
img {
	border-radius: $radius_sm;
}
.container {
	max-width: 1140px;
	position: relative;
}


/* Blocks */
@import "base/fonts";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/titles";
@import "blocks/buttons";
@import "blocks/home";
@import "blocks/slider";
@import "blocks/card";
@import "blocks/social-block";
@import "blocks/footer";
@import "blocks/nav-mob";
@import "blocks/triple-grid";

@import "blocks/media";

