.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 24px 52px;
	border-radius: 50px;
	font-size: 16px;
	font-weight: 700;
	color: $white;
	letter-spacing: 0.16px;
	text-transform: uppercase;
	outline: none;	
	&-wrapper {
		display: flex;
		justify-content: center;
	}
	&--solid {
		border: none;	
		background-image: $gradient_primary;
		box-shadow: none;
		transition: all .6s ease-in-out;
		background-size: 1000% 100%;
		&:hover {
			border: none;
			outline: none;
			box-shadow: $shadow_primary;
			color: $white;
			background-size: 100% 100%;
			background-position: 100% 0;
			transition: all .6s ease-in-out;
		}
		&:focus {
			border: none;
			outline: none;
		}
	}
	&--stroke {
		background-color: #fff;
		border: 1px solid $outline;
		color: $t_gray;
		transition: $trans;
		&:hover, &:focus {
			color: $primary_dark;
			border: 1px solid $primary_dark;
		}
		&:focus {
			outline: none;
		}
	}
	&--inverse {
		padding: 13px 28px;
		border: 2px solid $t_light;
		color: $t_light;
		background: none;
		transition: $trans;
		&:hover, &:focus  {
			background-color: $t_light;
			border: 2px solid $white;
			outline: none;
			color: #B78A71;
			.social-block__icon {
				fill: #B78A71;
			}
		}
	}
	&.add-to-cart {
		border: none;	
		background-image: $gradient_primary;
		box-shadow: none;
		transition: all .6s ease-in-out;
		background-size: 1000% 100%;
		&:hover {
			border: none;
			outline: none;
			box-shadow: $shadow_primary;
			color: $white;
			background-size: 100% 100%;
			background-position: 100% 0;
			transition: all .4s ease-in;
		}
		&:focus {
			border: none;
			outline: none;
		}
		&.added {
			display: none;
		}
	}
	&.go-to-cart {
		display: none;
		background-color: #fff;
		box-shadow:none;
		background-image: none;
		border: 1px solid $primary_dark;
		color: $primary_dark;
		// &:hover, &:focus {
		// 	color: $primary_dark;
		// 	border: 1px solid $primary_dark;
		// }
		&:focus {
			outline: none;
		}
		&.active {
			display: flex;
		}
	}

}
.label {
	position: absolute;
	display: inline-flex;
	padding: 3px 7px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	top: 24px;
	left: 24px;
	color: $white;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	&--hit {
		background: $orange;
	}
	&--new {
		background: $green;
	}
	&--sale {
		background: $red;
		font-size: 13px;
		padding: 2px 7px;
	}
}

