.count {
	display: flex;
	align-items: center;
	&__minus, &__plus {
		border-radius: $radius;
		width: 36px;
		height: 36px;
		outline: none;
		border: $border;
		background-color: #fff;
		font-size: 24px;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $t_gray;
		transition: $trans;
		&:hover, 
		&:focus,
		&:active {
			outline: none;
			border: 1px solid $primary_dark;
			background-color: #fff;
			color: $primary_dark;
		}
	}
	&__box {
		width: 46px;
		height: 36px;
		background-color: #fff;
	}
	&__input {
		max-width: 100%;
		background-color: transparent;
		text-align: center;
		outline: none;
		border: none;
		box-shadow: none;
		font-size: 20px;
		font-weight: 500;
		line-height: 36px;
		color: $t_gray;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
		}
	}
}
