.menu {
	display: inline-flex;
	gap: 40px;
	& li {
		& > a {
			display: block;
			color: $t_gray;
			font-weight: 500;
			transition: $trans;
			&:hover {
				color: $primary_dark;
			}
		}
	}
}
.header {
	background-color: $white;
	position: sticky;
	width: 100%;
	top: 0;
	border-bottom: $border;
	transition: box-shadow .2s;
   box-shadow: none;
	z-index: 2;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
	}
	&__menu {
		& li {
			& > a {
				line-height: 68px;
				padding-top: 2px;
				border-bottom: 2px solid transparent; 
				&:hover {
					border-bottom: 2px solid $primary_dark; 
				}
			}
		}
	}
	&--fixed {
		box-shadow: $shadow;
		border-bottom: none;
	}
	&__logo {
		& img {
			width: 187px;
			height: auto;
		}
	}
}
.l-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
}
.social {
	display: inline-flex;
	align-items: center;
	gap: 20px;
	&__icon {
		width: 26px;
		height: 26px;
		transition: all .3s;
		fill: $t_gray;
		&:hover {
			fill: $primary_dark;
		}
	}
}
.cart {
	&__wrapper {
		position: relative;
		& img {
			width: 26px;
			height: 26px;
			transition: $trans;
			&:hover {
				transform: scale(1.1);
			}
		}
		.cart__num {
			position: absolute;
			width: 20px;
			height: 20px;
			background-color: $primary_dark;
			border-radius: $radius;
			display: flex;
			justify-content: center;
			align-items: center;
			top: -10px;
			right: -8px;
			color: $white;
			font-family: $f_sans;
			font-size: 12px;
			font-weight: 600;
		}
	}
}

