.burger {display: none;}

@media screen and (max-width: 767px) and (min-width: 320px) {
	.burger {
		display: flex;
		width: 40px;
		height: 40px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: relative;
		transition: all .5s;
		z-index: 999;
		margin-right: 17px;
		&__row {
		background-color: $t_dark;
		height: 3px;
		margin: 2px 0;
		position: relative;
		width: 65%;
		transition: all .5s;
		}
		&.active {
			background-color: #f2f0f0;
			height: 100%;
		}
		&.active .burger__row {
			background-color: $primary;
		}
		&.active .burger__row:first-child {
			transform: rotate(-135deg);
			top: 7px;
		}
		&.active .burger__row:last-child {
			transform: rotate(-225deg);
			top: -7px;
		}
		&.active .burger__row:nth-child(2) {
			opacity: 0;
		}
	}	
	.menu-mob {
		display: flex;
		flex-flow: column nowrap;
		background-color: white;
		width: 100vw;
		position: absolute;
		left: -999px;
		padding: 0 70px;
		margin: 0;
		gap: 0;
		border: 1px solid $outline;
		& li {
			& a {
				text-transform: uppercase;
				border-bottom: 1px solid $outline;
				font-size: 16px;
				&:hover {
					border-bottom: 1px solid $primary_dark;
				}
			}
		}
	}	
	.move {
		top: 70px;
		left: 0;
		transition: left .2s ease-out; 
	}		
}
	
	

