.order-list {
	margin-bottom: 24px;
	&__header {
		display: grid;
		grid-template-columns: 1.5fr 4.5fr 2.5fr 2fr 1.5fr;
		padding: 10px 0;
		column-gap: 24px;
		padding: 12px;
	}
	&__col-title {
		color: $t_caption;
		font-size: 14px;
	}
	&__item {
		display: grid;
		grid-template-columns: 1.5fr 4.5fr 2.5fr 2fr 1.5fr;
		column-gap: 24px;
		border: 1px solid $outline;
		border-radius: $radius_sm;
		padding: 12px;
		margin-bottom: 18px;
	}
	&__img {
		width: 100px;
		height: 100px;
		align-self: center;		
	}
	&__descr {
		align-self: center;
		& p {
			margin-bottom: 0;
			color: $t_caption;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}
	&__title {
		margin-bottom: 10px;
		& a {
			transition: $trans;
		}
		&:hover a {
			color: $primary_dark;
		}
	}
	&__count {
		align-self: center;
	}
	&__price {
		align-self: center;
		justify-self: start;
		&-wrapper {
			text-align: right;
		}
	}
	&__del {
		align-self: center;
		justify-self: center;
	}
	&__btn {
		background-color: #fff;
		font-weight: 500;
		color: $t_gray;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: $trans;
		& svg {
			width: 18px;
			height: 20px;
			fill: $t_gray;
			margin-right: 9px;
			transition: $trans;
		}
		&:hover {
			color: $primary_dark;
			& svg {
				fill: $primary_dark;
			}
		}
	}
	& .price {
		font-family: $f_serif;
		font-size: 22px;
		font-weight: 600;
		&--red {
			color: $primary_dark;
		}
		&--gray {
			color: #8C8D87;
			font-size: 16px;
			text-decoration: line-through;
		}
		&--normal {
			color: $t_gray;
		}
		&--lg {
			font-size: 30px;
		}
		&--ml {
			margin-left: 10px;
		}
	}
	&__footer {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 0 0 18px 0;
		border-bottom: 1px solid $outline;
	}
	&__delivery {
		font-size: 16px;
		font-weight: 600;
		line-height: 1.4;
	}
	&__sum {
		font-size: 24px;
		font-weight: 600;
		line-height: 1.4;
	}
}
.order-checkout {
	padding-bottom: 68px;
}