.hystmodal.hystmodal--video {
	position: fixed;
	top: -70px;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	& .hystmodal__wrap {
		flex-shrink: 0;
		flex-grow: 0;
		width: 100%;
		min-height: 100%;
		margin: auto;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}
	& .hystmodal__window {
		position: relative;
		width: 640x;
		padding: 0;
		height: 360px;
		background-color: #000;
		& .hystmodal__close {
			top: 0;
			right: -40px;
			width: 30px;
			height: 30px;
			background-image: url('../icons/close.svg');
			z-index: 100;
			&:focus {
					outline: 1px dotted #afb3b9;
					outline-offset: 2px;
			}
		}
	}
	& video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		display: block;
		border: none;
	}
}