.hystmodal {
	&.hystmodal--video {
		top: -70px;
		& .hystmodal__window {
			position: relative;
			padding: 0;
			width: 640px;
			height: 360px;
			box-sizing: content-box;
			background-color: #000;
			& .hystmodal__close {
				top: 0;
				right: -40px;
				width: 30px;
				height: 30px;
				background-image: url('../icons/close.svg');
				z-index: 100;
				&:focus {
						outline: 1px dotted #afb3b9;
						outline-offset: 2px;
				}
			}
		}
		& video {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: block;
			border: none;
		}
	}
	&.hystmodal--form {
		& .hystmodal__window {
			padding: 34px;
			border-radius: $radius_sm;
			width: 540px;
			max-width: 100%;
		}
	}
}