.rating {
	&-result {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 6px;
		margin-bottom: 10px;
		& span {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_189_1909)'%3E%3Cpath d='M8.00016 1.33325L10.0602 5.50659L14.6668 6.17992L11.3335 9.42659L12.1202 14.0133L8.00016 11.8466L3.88016 14.0133L4.66683 9.42659L1.3335 6.17992L5.94016 5.50659L8.00016 1.33325Z' stroke='%23FAB140' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_189_1909'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
			width: 16px;
			height: 16px;
			&.active {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M7.70073 1.27494C7.82284 1.02663 8.17686 1.02663 8.29897 1.27494L10.1885 5.11721C10.2369 5.21567 10.3307 5.28399 10.4392 5.29992L14.6673 5.92022C14.9402 5.96026 15.0492 6.29554 14.852 6.48837L11.7915 9.48036C11.7132 9.55688 11.6775 9.66695 11.696 9.77485L12.4179 14.0001C12.4645 14.2726 12.1782 14.48 11.9338 14.351L8.15545 12.3566C8.05808 12.3052 7.94162 12.3052 7.84425 12.3566L4.06593 14.351C3.82146 14.48 3.5352 14.2726 3.58176 14.0001L4.30374 9.77485C4.32218 9.66695 4.28647 9.55688 4.20819 9.48036L1.14775 6.48837C0.950506 6.29554 1.05947 5.96026 1.33238 5.92022L5.56045 5.29992C5.66901 5.28399 5.76277 5.21567 5.81119 5.11721L7.70073 1.27494Z' fill='%23FAB140'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.40161 1.12784C7.64584 0.631214 8.35386 0.631217 8.59809 1.12784L10.4876 4.97011L14.7157 5.59041C15.2615 5.67049 15.4795 6.34106 15.085 6.72672L12.0245 9.71871L12.7465 13.9439C12.8396 14.4889 12.2671 14.9039 11.7782 14.6458L7.99985 12.6514L4.22154 14.6458C3.7326 14.9039 3.16007 14.4889 3.25319 13.9439L3.97517 9.71871L0.914727 6.72672C0.520244 6.34106 0.73816 5.67049 1.284 5.59041L5.51207 4.97011L7.40161 1.12784ZM7.99985 1.42204L6.11031 5.26431C6.01347 5.46122 5.82595 5.59787 5.60884 5.62972L1.38077 6.25002L4.44121 9.242C4.59776 9.39505 4.66919 9.6152 4.63231 9.831L3.91033 14.0562L7.68864 12.0618C7.88338 11.959 8.11632 11.959 8.31106 12.0618L12.0894 14.0562L11.3674 9.831C11.3305 9.6152 11.4019 9.39505 11.5585 9.242L14.6189 6.25002L10.3909 5.62972C10.1738 5.59787 9.98623 5.46122 9.88939 5.26431L7.99985 1.42204Z' fill='%23FAB140'/%3E%3C/svg%3E");
			}
		}
	}
	&-area {
		margin-bottom: 32px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&__stars {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 4px;
			flex-direction: row-reverse;
		}
		& input.star {
			display: none;
		}
		& label.star {
			transition: $trans;
			cursor: pointer;
			width: 30px;
			height: 30px;
			margin-bottom: 0;
			&:before {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M15 2.5L18.8625 10.325L27.5 11.5875L21.25 17.675L22.725 26.275L15 22.2125L7.275 26.275L8.75 17.675L2.5 11.5875L11.1375 10.325L15 2.5Z' stroke='%23E0DDC7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
				width: 30px;
				height: 30px;
			}
		}
		& input.star:checked ~ label.star:before,
		& input.star:hover ~ label.star:before {
			content: '';
			transition: $trans;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M14.4392 2.39045C14.6681 1.92486 15.3319 1.92486 15.5609 2.39045L19.1038 9.59471C19.1945 9.77931 19.3704 9.90742 19.5739 9.93728L27.5015 11.1003C28.0132 11.1754 28.2175 11.8041 27.8477 12.1656L22.1094 17.7756C21.9626 17.9191 21.8957 18.1255 21.9302 18.3278L23.2839 26.2501C23.3712 26.761 22.8345 27.15 22.3761 26.9081L15.2918 23.1686C15.1092 23.0722 14.8908 23.0722 14.7083 23.1686L7.62393 26.9081C7.16555 27.15 6.6288 26.761 6.71611 26.2501L8.06982 18.3278C8.10439 18.1255 8.03743 17.9191 7.89067 17.7756L2.15233 12.1656C1.7825 11.8041 1.9868 11.1754 2.49853 11.1003L10.4262 9.93728C10.6297 9.90742 10.8055 9.77931 10.8963 9.59471L14.4392 2.39045Z' fill='%23FAB140'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8783 2.11463C14.3363 1.18347 15.6638 1.18347 16.1217 2.11463L19.6646 9.3189L27.5922 10.482C28.6157 10.6321 29.0243 11.8894 28.2846 12.6125L22.5463 18.2225L23.9 26.1448C24.0746 27.1666 23.0011 27.9447 22.0844 27.4608L15 23.7213L7.91569 27.4608C6.99892 27.9447 5.92543 27.1666 6.10004 26.1448L7.45375 18.2225L1.71542 12.6125C0.975762 11.8894 1.38436 10.6321 2.4078 10.482L10.3354 9.3189L13.8783 2.11463ZM15 2.66626L11.4571 9.87053C11.2756 10.2397 10.924 10.4959 10.5169 10.5557L2.58925 11.7187L8.32758 17.3287C8.6211 17.6157 8.75503 18.0284 8.68589 18.4331L7.33218 26.3553L14.4165 22.6159C14.7816 22.4231 15.2184 22.4231 15.5835 22.6159L22.6679 26.3553L21.3142 18.4331C21.245 18.0284 21.3789 17.6157 21.6725 17.3287L27.4108 11.7187L19.4832 10.5557C19.0761 10.4959 18.7245 10.2397 18.5429 9.87053L15 2.66626Z' fill='%23FAB140'/%3E%3C/svg%3E");
			width: 30px;
			height: 30px;
		}
		& .caption {
			margin-right: 16px;
			margin-bottom: 0;
		}
	}
}