.reviews {
	&__item {
		padding: 30px 30px 10px;
		border: $border;
		border-radius: $radius_sm;
		min-height: 220px;
	}
	&__info {
		color: $t_caption;
		font-weight: 500;
		margin-bottom: 18px;
		& span {
			color: $outline;
			margin: 0 12px;
		}
	}
	&__text {
		font-weight: 500;
	}
	&__submit {
		&-link {
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			font-weight: 700;
			letter-spacing: 0.16px;
			text-transform: uppercase;
			& > a {
				color: $t_gray;
				transition: $trans;
			}
			& > svg {
				width: 24px;
				height: 24px;
				margin-right: 12px;
				fill: $t_gray;
				transition: $trans;
			}
			&:hover > a {
				color: $primary_dark;
			}
			&:hover > svg {
				fill: $primary_dark;
			}
		}
	}
}