.sslider {
	overflow: hidden; 
	width: calc(100% + 30px); 
   padding: 15px; 
   margin-left: -15px; 
	margin-bottom: 60px;
	&.feedback__slider {
		margin-bottom: 0;
		& .sslider__item {
			margin: 0 12px;
		}
		& .slick-list {
			margin: 0 -12px;
		}
	}
	&.reviews__slider {
		margin-bottom: 25px;
		& .sslider__item {
			margin: 0 12px;
		}
		& .slick-list {
			margin: 0 -12px;
		}
	}
}
.slick-track {
	display: flex;
	justify-content: space-between;
}
.slick-list {
	overflow: visible;
}
.arrows {
	display: flex;
	align-items: center;
}
.slick-arrow {
	width: 32px;
	height: 32px;
	transition: $trans;
	fill: $t_gray;
	cursor: pointer;
	&:hover {
		fill: $primary_dark;
	}
}
.slick-prev, .slick-next {
	border: none;
	background-color: #fff;
	&:focus, &:active {
		border: none;
	}
}
.next {	
	transform: rotate(180deg);
}
.slick-dots {
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 15;
	align-self: center;
	display: flex;
	& li {
		margin-right: 8px;
		& button {
		border: none;
		color: transparent;
		font-size: 0;
		outline: none;
		padding: 0;
		height: 6px;
      width: 6px;
      display: inline-block;
      background: $t_gray;
      border-radius: 5px;
      cursor: pointer;
      transition: all 300ms ease;
		}
		&:hover button, &.slick-active button {
			width: 25px;
			background: $primary_dark;
		}
	}
}